<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <h1>ลืมรหัสผ่าน</h1>
    <form action="/reset_password" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br><br>
  
      <label for="pin">PIN (4 digits):</label>
      <input type="text" id="pin" name="pin" pattern="\d{4}" maxlength="4" required><br><br>
  
      <label for="new_password">New Password:</label>
      <input type="password" id="new_password" name="new_password" required><br><br>
  
      <input type="submit" value="Reset Password">
      <h3>เงื่อนไขรหัสผ่าน</h3>
      <ul>
          <li>ต้องมีความยาวอย่างน้อย 7 ตัวอักษร</li>
          <li>ต้องมีตัวอักษรตัวเล็ก (a-z)</li>
          <li>ต้องมีตัวอักษรตัวใหญ่ (A-Z)</li>
          <li>ต้องมีตัวเลข (0-9)</li>
          <li>ต้องมีสัญลักษณ์พิเศษ เช่น !@#$%^&*</li>
      </ul>
  </form>
  

    <!-- แสดง flash messages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
